
.slide {
    width: 98.3%;
    height: 100%;
}
.box1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.cardCarousel {
    width: 70%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25%;
}

.imgcarousel {
    width: 70%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.containtcarousel {
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.imgbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:500px) {
.slide {
    width: 98.3%;
    height:100%;
}

.containtcarousel {
  font-size: 12px;
}

}
@media (max-width:400px) {
    .containtcarousel {
        font-size: 10px;
      } 
    
}