.HomepageContainer {
  width: 99vw;
  height: 100vh;
  display: flex;
}

.col1page1 {
  width: 70vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  padding: 30vh 8vw;
  gap: 1vh;

}

.headingpage1 {

  color: #3C4DC2;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 121.687%;
  width: 54vw;
  height: 15vh;
}

.containtpage1 {
  color: #595B5F;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  /* 37.8px */
}

.col2page1 {
  width: 99vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.page1bg {
  width: 100%;
  height: 100%;
}
@media (max-width:1024px) {
  .HomepageContainer{
    width: 99vw;
    height: 70vh;
  }
  .col1page1{
    width: 70vw;
    height: 70vh;
    padding: 20vh 8vw;
    gap: 0.5vh;
  }
  
.headingpage1 {
  font-size: 23px;
  width: 54vw;
  height: 10vh;

}

.containtpage1 {
  font-size: 15px;
}

.col2page1 {
  width: 99vw;
  height: 70vh;
}

.page1bg {
  width: 100%;
  height: 100%;
}
.btncomponent{
  font-size: 14px;
}
  
}

@media (max-width:500px) {

  
.headingpage1 {
  font-size: 17px;
  height: 15vh;
  line-height: 100%;
}

.containtpage1 {
  font-size: 13px;
}

.btncomponent{
  font-size: 10px;
}

}

@media (max-width:400px) {
  .HomepageContainer{
    width: 99vw;
    height:60vh;
  }
  .col1page1{
    width: 70vw;
    height: 60vh;
    padding: 15vh 8vw;

  }
  
.headingpage1 {
  font-size: 15px;
  width: 54vw;
  height: 10vh;
  font-weight: 500;
  line-height: 100%;
}

.containtpage1 {
  font-size: 12px;
}

.col2page1 {
  width: 99vw;
  height: 60vh;
}
.btncomponent{
  font-size: 10px;
}

}