@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  overflow-x: hidden;
}

.footerContainer {
  width: 100vw;
  height: 60vh;
  background-color: #3C4DC2;
  color: #ffffff;
}

.footerRow1 {
  width: 100%;
  height: 54vh;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.footerpart1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}

.footerCol {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5%;
}

.footerCol1 {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 100%;

  h4 {
    font-size: 1vw;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  a {
    font-size: 0.8;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
}


.Footer-social-links {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 100%;

  h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  a {
    border-radius: 50%;
  color: #ffffff;
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  i {
    padding: auto;
    font-size: 1rem;
  }

  p {
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
}


.copyRight {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #ffffff;
  background-color: #4155d3;
  font-family: 'Poppins', sans-serif;
  padding: 2%;
}

@media screen and (max-width:1024px) {

  .footerCol {
    width: 100%;
  }

  .footerCol1 {
    h4 {
      font-size: 16px;
    }

    a {
      font-size: 12px;
    }
  }


  .Footer-social-links {
    h4 {
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }
  }

  i {
    font-size: 0.6rem;
  }

  .copyRight {
    font-size: 10px;
  }

}

@media screen and (max-width:664px) {

  .footerCol {
    width: 100%;
  }

  .footerCol1 {
    h4 {
      font-size: 14px;
    }

    a {
      font-size: 10px;
    }
  }


  .Footer-social-links {
    h4 {
      font-size: 14px;
    }

    p {
      font-size: 10px;
    }
  }

  .copyRight {
    font-size: 10px;
  }

}

@media screen and (max-width:400px) {

  .footerCol1 {
    h4 {
      font-size: 12px;
    }

    a {
      font-size: 8px;
    }
  }


  .Footer-social-links {
    h4 {
      font-size: 12px;
    }

    p {
      font-size: 8px;
    }
  }

  .copyRight {
    font-size: 8px;
  }

}

@media screen and (max-width:355px) {

  .footerCol1 {
    h4 {
      font-size: 10px;
    }

    a {
      font-size: 8px;
    }
  }


  .Footer-social-links {
    h4 {
      font-size: 10px;
    }

    p {
      font-size: 8px;
    }
  }

  .copyRight {
    font-size: 10px;
  }

}