@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  overflow-x: hidden;
}

.footerContainer {
  width: 100vw;
  height: 70vh;
  background-color: #3C4DC2;
  color: #ffffff;
}

.footerRow1 {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.copyRight {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #ffffff;
  background-color: #4155d3;
  font-family: 'Poppins', sans-serif;
  padding: 2%;
}

.footerpart1 {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
}

.footerCol {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5%;

}
.footerCol1{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

   a{
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
}

.footerRow{
  width: 40%;
  height: 100%;
  color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}
.RowContent{
width: 100%;
height:100%;
}
.footer-Row-col{
  width: 100%;
  height: 25%;
  padding-top: 5%;
}
.Footer-social-links{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  h4{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* padding-right:2% ;  */
  }
  a{
    margin-right: 2%;
    padding: 2%;
    border-radius: 50%;
    background-color: #ffffff;
    width: 10%;
    height: 100%;
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}












/* .footerCol1 h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footerCol1 h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footerCol1 ul li:not(:last-child) {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.footerCol1 ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footerCol1 ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footerCol1 .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}


.footerContainer {
  background-color: #3C4DC2;
  width: 100vw;
  height: 60vh;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

.footerRow1 {
  width:100%;
  height: 100%;
  padding: 5%;
}

.footerpart1 {
  width: 90%;
  height: 90%;
  display: flex;

}

.footerCol {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footerCol1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;

}


.footerRow {
  width: 30%;
  height: 100%;
  color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.ftlogo {
  width: 18%;
  height: 15%;
  
}

.RowContent {
  width: 100%;
  height: 60%;
}
.footer-col{
  width: 100%;
  height: 40%;
}
@media (max-width:600px) {
  .footerCol {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .footerpart1 {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
  
  }
  .footerContainer {
    height: 80vh; 
  }
  .footerRow {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .RowContent{
    width: 40%;
    height: 100%;
  }
  .footer-col{
    width: 40%;
    height: 100%;
  }
}
@media (max-width:400px) {
  .footerCol1 h4 {
    font-size: 12px;
  }
  .footerCol1 ul li a {
    font-size: 10px;
  }
  .footerRow {
    font-size: 10px;
  }
} */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #3C4DC2;
  padding: 70px 0;
  width: 99vw;
  height: 60vh;
}

.footer-col {
  width: 20%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}


@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer{
    width: 100vw;
    height: 100vh;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
  .footer{
    width: 100vw;
    height: 120vh;
  }
} */