.events-pop-up {
    /* background-image: url('../images/final_background.png'); */
    /* background-color: black; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vw; */
    height: 90vh;
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    margin-top: 12vh;
    background-color: #041723;
}

.sebutton {
    /* display: inline-flex; */
    /* margin-top: 25px; */
    padding: 8px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(94deg, #028BA3 22.96%, #006E9B 98.15%);
    box-shadow: 4px 4px 32px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    margin-left: 31vw;
    font-family: "" Mulish"";
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}

.sebutton:hover {
    border: 2px solid #8FEFE9;
    box-shadow: 4px 4px 16px 2px rgba(153, 238, 232, 0.5);
}

.events-pop-up-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.events-pop-up-heading h1 {
    font-family: Mulish;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 99%;
    /* color: white; */
    background: linear-gradient(184deg, #FFF 3.29%, #5DC1C2 176.52%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.events-pop-up-cards {
    width: 90%;
    height: 22rem;
    display: flex;

    justify-content: space-between;
}

.events-pop-up-cards-1 {
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(227, 145, 99, 0.50) 0%, rgba(204, 156, 80, 0.50) 100%);
    box-shadow: 4px 4px 32px 0px rgba(0, 0, 0, 0.50);
}

.events-pop-up-cards-1-content-1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12.5rem;

}

.events-pop-up-cards-1-img {
    width: 100%;
    height: 11rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.events-pop-up-cards-1-topic {
    width: 100%;
    height: 1.5rem;
    background: rgba(72, 33, 5, 0.80);
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    font-size: 14px;
}

.events-pop-up-cards-1-btns {
    display: flex;
    width: 80%;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
}



.events-pop-up-cards-1-btns-details {
    width: 40%;
    height: 1.75rem;
    text-align: center;
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}




.events-pop-up-cards-2 {
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(66, 218, 237, 0.50) 0%, rgba(10, 96, 151, 0.50) 100%);
    box-shadow: 4px 4px 32px 0px rgba(0, 0, 0, 0.50);
}

.events-pop-up-cards-2-content-2 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12.5rem;

}

.events-pop-up-cards-2-img {
    width: 100%;
    height: 11rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.events-pop-up-cards-2-topic {
    width: 100%;
    height: 1.5rem;
    background: rgba(1, 31, 43, 0.80);
font-size: 14px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
}

.events-pop-up-cards-2-btns {
    display: flex;
    width: 80%;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
}


.events-pop-up-cards-2-btns-details {
    width: 40%;
    height: 1.75rem;
    text-align: center;
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}


.events-pop-up-cards-3 {
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;

    background: linear-gradient(180deg, rgba(92, 94, 109, 0.50) 0%, rgba(222, 55, 45, 0.50) 100%);
    box-shadow: 4px 4px 32px 0px rgba(0, 0, 0, 0.50);
}

.events-pop-up-cards-3-content-3 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12.5rem;

}

.events-pop-up-cards-3-img {
    width: 100%;
    height: 11rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.events-pop-up-cards-3-topic {
    width: 100%;
    height: 1.5rem;
    background: rgba(125, 14, 14, 0.60);
    font-size: 14px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
}

.events-pop-up-cards-3-btns {
    display: flex;
    width: 80%;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
}


.events-pop-up-cards-3-btns-details {
    width: 40%;
    height: 1.75rem;
    text-align: center;
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

@media (min-width : 1690px) {
    .events-pop-up {
        height: 100vh;
    }

    .events-pop-up-heading {
        font-size: 2.6rem;
    }

    .events-pop-up-cards {
        height: 30rem;
    }

    .events-pop-up-cards-1-content-1,
    .events-pop-up-cards-2-content-2,
    .events-pop-up-cards-3-content-3 {
        height: 18.5rem;
    }

    .events-pop-up-cards-1-img,
    .events-pop-up-cards-2-img,
    .events-pop-up-cards-3-img {
        height: 16rem;
    }

    .events-pop-up-cards-1-topic,
    .events-pop-up-cards-2-topic,
    .events-pop-up-cards-3-topic {
        height: 2.25rem;
        font-size: 1rem;
    }

    .events-pop-up-cards-1-btns-details,
    .events-pop-up-cards-2-btns-details,
    .events-pop-up-cards-3-btns-details {
        height: 2rem;
    }
}

@media (max-width:700px) {
    body {
        overflow-x: hidden;
    }

    .sebutton {
        display: none;
    }

    .events-pop-up {
        background: #041723;

        height: 100%;
        box-sizing: border-box;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 3rem;
        margin-top: 20vh;
    }

    .events-pop-up-heading {
        margin-left: 0;
        font-size: 30px;
    }

    .events-pop-up-cards {
        width: 100%;
        height: 100%;
        padding-bottom: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .events-pop-up-cards-1 {
        width: 85%;
        margin-left: 7.5%;
        padding: 10% 0;
        margin-bottom: 5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 8px;
        background: linear-gradient(180deg, rgba(227, 145, 99, 0.50) 0%, rgba(204, 156, 80, 0.50) 100%);
        box-shadow: 4px 4px 32px 0px rgba(0, 0, 0, 0.50);
    }

    .events-pop-up-cards-2 {
        width: 85%;
        margin-left: 7.5%;
        padding: 10% 0;
        margin-bottom: 5vh;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }

    .events-pop-up-cards-3 {
        width: 85%;
        margin-left: 7.5%;
        padding: 10% 0;
        margin-bottom: 5vh;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }
}